@import "tailwindcss";

/* Your Custom Theme */
@theme {
  --color-primary: #C2410C;
  --color-secondary: #7C2D12;
  --color-cream: #FFF7ED;
  --color-accent: #FBBF24;
  --animate-scrollani: scollani 30s linear infinite;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@keyframes scollani {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
}